@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

.hero {
  width: 1920px;
  height: 919px;
  background: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(./assets/hero-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-contant {
  width: 1023px;
  height: 393px;
}

.subtitle{
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 16px;
}
 
.subtitle + h1 {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.subtitle ~ P {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn > button {
  border-radius: 8px;
  border: none;
  background: rgb(82, 195, 3);
  padding: 21px 32px 21px 32px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}







