@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  width: 1920px;
  overflow-x: hidden;
}

.hero {
  width: 100%;
  height: 919px;
  background: linear-gradient(0.00deg, rgb(16, 16, 16) -19.5%, rgba(16, 16, 16, 0) 100%), url(./assets/hero-bg.png);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-contant {
  width: 1023px;
  height: 393px;
}

.subtitle{
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.8;
  margin-bottom: 16px;
}
 
.subtitle + h1 {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 64px;
  font-weight: 700;
  line-height: 80px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.subtitle ~ P {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  margin-bottom: 32px;
}

.btn {
  display: flex;
  justify-content: center;
}

.btn > button {
  border-radius: 8px;
  border: none;
  background: rgb(82, 195, 3);
  padding: 21px 32px 21px 32px;
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  cursor: pointer;
}

.cards-container {
  width: 1320px;
  height: 876px;
  margin: 167px auto 179px;
}

.cards-header {
  width: 691px;
  height: 173px;
  margin: 0 auto;
}

.cards-header>p {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.6;
  margin-bottom: 16px;
}

.cards-header>h2 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
}

.cards {
  height: 525px;
  display: flex;
  justify-content: space-between;
  margin-top: 48px;
}

.card {
  width: 424px;
  height: 525px;
}

.card-img-1 {
  width: 100%;
  height: 283px;
  background: url(./assets/pizza.png);
  background-size: cover;
  background-repeat: none;
}

.card-img-2 {
  width: 100%;
  height: 283px;
  background: url(./assets/biriyani.png);
  background-size: cover;
  background-repeat: none;
}

.card-img-3 {
  width: 100%;
  height: 283px;
  background: url(./assets/burger.png);
  background-size: cover;
  background-repeat: none;
}

.card-info>p {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 18px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 24px;
}

.card-info>.title {
  width: 187px;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  border-radius: 8px;
  background: rgba(82, 195, 3, 0.15);
  padding: 14px 32px 14px 32px;
  margin: 0 auto;
  margin-top: 32px;
}

.card-info>h2 {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 40px;
  font-weight: 600;
  line-height: 47px;
  letter-spacing: 0%;
  text-align: center;
  margin: 24px 0;
}

.btn-conrainer {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.btn-conrainer>button {
  color: rgb(255, 255, 255);
  font-family: Work Sans;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  border: none;
  border-radius: 8px;
  background: rgb(82, 195, 3);
  padding: 21px 32px 21px 32px;
  cursor: pointer;
}

.about-us {
  width: 100%;
  height: 671px;
  display: flex;
  margin-bottom: 150px;
}

.about-img {
  width: 50%;
  background: url(./assets/foods.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.about-info-container {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-info-container > div > h2 {
  width: 100%;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.subscribe {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
  opacity: 0.6;
}

.social-follow {
  width: 100%;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  padding: 30px 10px 30px 10px;
  border-bottom: 1px solid rgba(16, 16, 16, 0.2);
  border-top: 1px solid rgba(16, 16, 16, 0.2);
  margin-bottom: 32px;
}

.social-icons {
  width: 260px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.social-container {
  width: 100%;
  height: 671px;
  background-image: linear-gradient(rgba(249, 247, 247, 0.8), rgba(246, 239, 239, 0.8)), url(./assets/social-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-container > div {
  width: 1320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.social-container > div > h2 {
  width: 805px;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 48px;
  font-weight: 700;
  line-height: 64px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 24px;
}

.social-container>div>h2+p {
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 24px;
  font-weight: 500;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: left;
  opacity: 0.6;
  margin-bottom: 48px;
}

.follow {
  width: 100%;
  color: rgb(16, 16, 16);
  font-family: Work Sans;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  opacity: 0.7;
  padding: 30px 10px 30px 10px;
  border-bottom: 1px solid rgba(16, 16, 16, 0.2);
  border-top: 1px solid rgba(16, 16, 16, 0.2);
  margin-bottom: 32px;
}

footer > p {
  font-family: Work Sans;
  font-size: 12px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  background: rgb(82, 195, 3);
}









